.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(----mantine-z-index-app);
  width: 100%;
  height: rem(64px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.placeholder {
  height: rem(64px);
}
